server:
  port: 8082

spring:
  application:
    name: catalog-service
  datasource:
    # URL para Docker (se sobreescribe en docker-compose, pero bueno dejarlo)
    url: jdbc:mysql://mysqldb:3306/db_catalog?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/
