server:
  port: 8084

spring:
  application:
    name: frontend-service
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/

# URL del Gateway para hacer peticiones al backend
backend:
  gateway:
    url: http://api-gateway:8080
